{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "useTabs": true
      }
    },
    {
      "files": ["*.ts", "*.vue"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
